body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    filter: blur(10px);
    transition: all 1s ease-out;
}

img:hover {
    filter: none;
    transform: rotate(720deg);
}