body {
    background-image: url(./images/wood.jpeg);
}

.card {
    color: rgb(255, 20, 147);
}

.card ul li a {
    color: rgb(255, 20, 147);
}

.card ul {
    background-color: rgb(0, 0, 0, 0.3);
}

.card h1 {
    background: rgb(81, 79, 129);
    background: radial-gradient(circle, rgba(81, 79, 129, 1) 0%, rgba(3, 3, 40, 1) 64%, rgba(0, 212, 255, 1) 100%);
}

.card p {
    background: rgb(81, 79, 129);
    background: radial-gradient(circle, rgba(81, 79, 129, 1) 0%, rgba(3, 3, 40, 1) 64%, rgba(0, 212, 255, 1) 100%);
}