* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Kalnia:wght@100&family=Roboto&display=swap');

body {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    height: 100vh;

}

aside {
    background: url(../images/sidebar-1.jpg);
    background-blend-mode: color;
    background-color: rgb(0, 0, 0, 0.7);
    height: 100vh;
    overflow-y: scroll;
}

.asideListTitle {
    font-family: 'Brygada 1918', serif;
    font-family: 'Kalnia', serif;
    font-family: 'Roboto', sans-serif;
}

.asideListImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.asideList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    color: white;

}

.active {
    background-color: red;
    border-radius: 10px;
}

.asideList:hover:not(.active, .asideListTitle, .asideListName) {
    background-color: gray;
    border-radius: 10px;
}

/* Display Flex-Global */
.dGrid {
    display: grid;
}

.dFlex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-items: center;
}

.justifyContent {
    justify-content: center;
}

.padding10 {
    padding: 10px 10px;
}

.margin20 {
    margin: 20px 20px;
}

.width {
    width: 300px;
}

.paddingTop {
    padding-top: 20px;
}

.marginTop {
    margin-top: 20px
}

/* Right Side */
.rightSide {
    background-color: lightgray;
    overflow-y: scroll;
}

.responsiveHeader {
    display: none;
}

.gap2 {
    gap: 2rem;
}

.gap {
    gap: 15px;
}

.rounded {
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
}

.colorWhite {
    color: white;
}

.bgGreen {
    background-color: green;
}

.bgYellow {
    background-color: darkgoldenrod;
}

.bgViolet {
    background-color: purple;
}

.bgBlue {
    background-color: blue;
}

.textAlign {
    text-align: end;
}

/* Header */
header {
    padding: 10px 20px;
    margin: 20px 10px;
}

.rounded:hover {
    box-shadow: 1px 2px 2px 4px rgba(53, 53, 53, 0.405);
}

.searchBar {
    background-color: lightgray;
    border-style: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.searchBar:focus {
    border-bottom: 1px solid red;
    transition: border-bottom 0.7s ease-in;
}

.notificationIcon {
    position: relative;
}

.notification {
    background-color: red;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.openNotification {
    visibility: hidden;
    position: absolute;
    width: 250px;
    padding: 20px;
    border: 0px solid black;
    top: 15px;
    right: 20px;
    background-color: white;
}

.notificationIcon:hover .openNotification {
    visibility: visible;
    z-index: 1;
}

.onHover:hover {
    background-color: red;
    border-radius: 3px;
    color: white;
}

/* Card */
.card {
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.bigCard {
    grid-template-columns: auto 1fr;
}

.cardFigure {
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 10px;
    width: 30px;
    border-radius: 10px;
}

.borderBottom {
    border-bottom: 1px solid gray;
}


/* FlagList */
.flagList {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
}

.iFrame {
    width: 100%;
    height: 300px;
}

.flagList img {
    width: 40px;
}

.littleCards {
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.positionRelative {
    position: relative;
}

.img {
    top: -20px;
    border-radius: 10px;
    transition: top 0.5s ease-in-out;

}

.underImg {
    top: -45px;
    visibility: hidden;
}

.containerImg:hover .img {
    top: -40px;

}

/* footer */
footer {
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

.containerImg:hover .underImg {
    visibility: visible;
}

/* Tablets */
@media(max-width:920px) {

    aside,
    .rightDashboard {
        display: none;
    }

    .bigCard {
        grid-template-columns: 1fr;
    }

    .manageList {
        flex-direction: column;
    }

    .header {
        display: none;
    }

    .responsiveHeader {
        display: flex;
    }
}

/* Smartphones */
@media (max-width:460px) {

    .littleCards {
        grid-template-columns: 1fr;
        width: 100%;
    }
}