# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
/.pnp
.pnp.js

# Build directories
dist/
build/
out/

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor configurations
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# Tests
/coverage
/junit.xml

# Miscellaneous
*.lock
*.tmp
*.temp
