body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 40px;
    gap: 5px;
}

label {
    visibility: hidden;
    transition: transform, 0.5s linear;
    transform: translateY(5px);
}

input:focus+label {
    visibility: visible;
    transform: translateY(0px);
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: blue;
    color: white;
}

img {
    width: 100px;
    height: 70px;
    transform: rotate(360deg);
    animation: patrik 1s infinite linear;

}

@keyframes patrik {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}