* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: brown;
}

aside {
    background-color: pink;
}

main {
    background-color: greenyellow;

}

footer {
    background-color: blueviolet;
}

div {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}